{% extends "main.html" %}

{% block content %}

<style>
    .container {
        display: grid;
        grid-template-columns: 1fr 3fr 1fr;
        gap: 4rem;
    }
</style>


    <div class="container">
        <div>
            {% include "topics_component.html" %}
        </div>
        <div>

        <h1>
            {{user.username}}
        </h1>
            {% include "rooms_component.html" %}
        </div>
        <div>
            {% include "activities_component.html" %}
        </div>
    </div>
{% endblock %}